{% extends 'base.html' %}

	{% block header %}
		<h1>{% block title %}Submit{% endblock %}</h1> 	
	{% endblock %}

	{% block content %}
		<form method = "post">
			<label for="message">Your message:</label><br>
			<input id ="message" name = "usermessage">
			<br>
			<label for ="handle">Your name or handle:</label><br>
			<input id ="handle" type = "form" name = "handle"><br>
			<input type = "submit" value = "Submit Form">
		</form> 
	{% if handle %}
		<br> <!--store the data in db --> 
		<b>hello {{handle}}! Thanks for saying "{{usermessage}}"</b>
	{% endif %}

	{% if thanks %}
		<b>Thanks for submitting a message!</b>
	{% endif %}
	{% if error %}
		<b>something is not working chief</b>
	{% endif %}

{% endblock %} 


